body {
  font-size: 50px;
  font-family: sans-serif;
  margin: 0px;
  text-align: center;
}

#container {
  position: fixed;
  width: 100%;
  bottom: 50%;
}

#movingContent {
  height: 50px;
  overflow: hidden;
}

#movingContent > div > div {
  display: inline-block;
  height: 50px;
}

#movingContent div:first-child {
  animation: show 15s linear infinite;
}

@keyframes show {
  0% {
    margin-top: -0px;
  }
  10% {
    margin-top: -0px;
  }
  90% {
    margin-top: -350px;
  }
  100% {
    margin-top: -0px;
  }
}
